h2{
    font-size: 2em!important;
    font-weight: 700;
}
h4{
    color: #EC8886;
}
.about{
    font-size: 1.33em;
    font-weight: 400;
    padding-top: 2em;
    color: black;
}
.About_img{
    height: 25em;
    width: 25em;
    /* margin-left:; */
}
@media only screen and (max-width: 600px) {
    .About_img{
        height: 18em;
        width: 18em;
    }
}